.CatchCopy {
    text-align: center;
    font-size: large;
}

.AutoComplete {
    text-align: center;
    font-size: large;
    margin: 5%;
}

.ClickableMap {
    position: relative;
}

.ClickableMap .labelMap {
    position: absolute;
    top: 100px;
    left:100px;
}

.Button {
    margin: 12px;
}